body{
    font-size: small;
    /* display: inline-block; */
    /* display: flex; */
}

.avatar img{
    width: 96px;
    height: 96px;
    border-radius: 100%;
    margin-left: 30%;
    margin-top: 2%;
}

.menu li{
    font-family: 'Roboto', sans-serif;
    /* font-size: 15px; */
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 5;
    margin-left: 1.5%;
    margin-top: 3%;
}

img{
    width: 22px;
    height: 22px;
}

p {
    font-family: "Roboto", sans-serif;
    /* margin-left: 5%; */
    font-size: medium;
}

.userName {
    margin-left: 35%;
}


.logout li{
    font-family: 'Roboto', sans-serif;
    /* font-size: 15px; */
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 1.5%;
    margin-top: 6%;
}

a {
    text-decoration: none;
    color: inherit;
}
