body{
    width: 250px;
    height: 1080px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 23.85965px 5.61404px 50px 0px rgba(0, 0, 0, 0.02), 35.08772px 0px 70px 0px rgba(86, 128, 248, 0.05), 14.03509px 0px 25px 0px rgba(86, 128, 248, 0.03);
    /* font-size: small;
    display: inline-block;
    margin-top: 3%;
    background: #FFF;
    width: 290px;
    height: 1080px;
    flex-shrink: 0;
    box-shadow: 23.85965px 5.61404px 50px 0px rgba(0, 0, 0, 0.02), 35.08772px 0px 70px 0px rgba(86, 128, 248, 0.05), 14.03509px 0px 25px 0px rgba(86, 128, 248, 0.03); */
}

.avatar img{

    border-radius: 100%;
    margin-left: 102px;
    margin-top: 2%;
    width: 86px;
    height: 86px;
    flex-shrink: 0;
}

.menu li{
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 4;
    margin-left: 1.5%;
    color: #707C97;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

img{
    width: 22px;
    height: 22px;
}

p {
    /* font-family: "Roboto", sans-serif;
    font-size: medium; */
    color: #0D1C2E;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.userName {
    margin-left: 35%;
}


.logout li{
    font-family: 'Roboto', sans-serif;
    /* font-size: 15px; */
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 1.5%;
    margin-top: 6%;
}

a {
    text-decoration: none;
    color: inherit;
}
