.chat {
  margin-top: 10%;
  margin-left: 10%;
}

body {
  background: linear-gradient(180deg, #F3F3FB 0%, #FDFBFD 100%);
}

h1 {
  /* margin-left: 20%; */
  /* margin-top: 10%;
  margin-bottom: 28%;
  display: flex;
  flex-direction: row;
  flex-grow: 3;  */
  color: #0D1C2E;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 72.222% */
  letter-spacing: 0.36px;
  text-transform: capitalize;

  margin-top: 118px;
  margin-left: 59px;
}

.search {
  width: 580px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #FFF;
  box-sizing: border-box;
  border-style: none;

  margin-top: 65px;
  margin-left: 60px;
  /* margin-right: 990px; */
  /* margin-bottom: 20px; */

  color: #707C97;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
  text-transform: capitalize;
}

.searchInput {
  position: relative;
}

.inputIcon {
  position: absolute;
  left: 4.3vw;
  top: 14vh;
  transform: translateY(-50%);
}

.searchInput input {
  padding-left: 30px;
}


button {
  position: absolute;
  /* top: 10%;
  bottom: 15%;
  left: 41.7%; */
  width: 240px;
  height: 60px;
  background: rgb(124,184,247);
  background: linear-gradient(90deg, rgba(124,184,247,1) 50%, rgba(42,139,242,1) 100%);
  border-style: none;
  color: white;
  font-size: medium;
  border-radius: 5px;
  /* width: 240px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 6px;
  background: linear-gradient(93deg, #7CB8F7 0%, #2A8BF2 100%);
  box-shadow: 10px 6px 25px 0px rgba(42, 139, 242, 0.15), 4px 4px 25px 0px rgba(42, 139, 242, 0.05), 6px 6px 25px 0px rgba(42, 139, 242, 0.15); */

  margin-top: -50px;
  margin-left: 400px;
  /* margin-right: 990px; */
  margin-bottom: 30px;
}

.person {
  display: flex;
  margin-bottom: 10px;
  margin-top: 4%;
  padding: 10px;
  border-radius: 5px;
  width: 600px;
}

.person img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 100px;
}

p {
  display: flex;
}


.userInfo {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
}

.messageHeader {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  padding-right: 16px; /* Add some padding to prevent the message time from "touching" the edge */
}

.message {
  color: #707C97;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;

  width: 70%;
  text-align: left;

  /* margin-left: 20px; */
}

.messageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.name {
  color: #0D1C2E;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}


.name, .status {
  margin: 0; 
}

.status {
  color: #2A8BF2;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
  }

.messageTime {
  /* margin-left: 30%;
  align-self: flex-end; */

  color: #707C97;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;

  position: absolute;
  /* top: 35px; */
  right: 38px;
}

.indication {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center; 
  justify-content: center;
  background-color: #FF3366;
  border-radius: 50%;
  color: white;

  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;

  position: absolute;
  top: 40%;
  right: 15vh;
  /* transform: translateY(-50%); */
}


/* .files .file {
  border-radius: 20px;
  background-color: #2A8BF240;
  height: 40px;
  width: 110px;
  justify-content: center;
  color: #2A8BF2;
} */

.files .file {
  width: 110px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 20px;
  background: rgba(42, 139, 242, 0.25);

  color: #2A8BF2;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.files .photo {
  width: 110px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 20px;
  background: rgba(255, 51, 102, 0.25);

  color: #F36;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.files .video {
  width: 110px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #00C30540;

  color: #00C305;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.files {
  display: flex;
  position: static;
  margin-left: -80%;
  margin-top: 7%;
}

.voiceMessage img {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}

.voiceMessage {
  display: flex;
  align-items: center;
  gap: 0.1px;
  margin-top: -15%;

  width: 450px;
  color: #707C97;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}



.fullMessage {
  /* width: 580px;
  height: 220px; */
  flex-shrink: 0;

  border-radius: 6px;
  background: #FFF;

  margin-left: 60px;
  position: relative;

}