body{
    font-family: 'Mukta', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-family: 'Source Sans 3', sans-serif;
    margin: 0%;

    background: linear-gradient(180deg, #F3F3FB 0%, #FDFBFD 100%);
}