.header-home{
    display: flex;
    justify-content: space-around;

    background-color: #FFF;
    margin-bottom: 3%;

    >h1 {
        position: relative;
        left: -4em;
    }

}

.header-home-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;

    .navlink-profile{
        width: 40%;
    }

    >button {
        height: 4vh;
        width: 40%;
        background: linear-gradient(50deg,rgba(124, 184, 247, 1), rgba(42, 139, 242, 1));
        border: 0px;
        font-size: 1.3em;
    }
    
    >button:hover{
        background: linear-gradient(50deg,rgb(117, 172, 231), rgb(39, 130, 226));
    }
}